<!-- Card -->
<div class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <div class="h-52 flex flex-col justify-center items-center bg-purple-600 rounded-t-xl text-7xl text-white">
        55%
    </div>
    <div class="p-4 md:p-6">
        <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">
            Humidity
        </h3>

    </div>

</div>
<!-- End Card -->